/*.project

/*.classpath

/.settings/*.container

/.settings/*.xml

/.settings/*.name

/WebContent/META-INF/*.MF

/.settings/*.component

/.settings/*.prefs

/.settings/*.jsdtscope

/build/classes/example/*.class
